.container {

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.board {

  width: 100%;
  aspect-ratio: 1;
  max-width: 700px;
  max-height: 700px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  border: 1px solid #666;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border: 1px solid #666;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.reverse{
  transform: rotate(180deg)
}

.black {
  background-color: gray;
}

.white {
  background-color: white;
}

.black:hover {
  background-color: rgba(65, 112, 119, 0.3);
}

.white:hover {
  background-color: rgba(65, 112, 119, 0.3);
}

.piece {
  width: 75%;
  height: 75%;
}

.cell-target-piece {
  background-color: rgb(222, 240, 85) !important;
}

.possible-moves {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: rgba(12, 41, 12, 0.518) !important;
  border-radius: 50%;
}

.promotion{
  width: 30%;
  position: absolute;
  display: flex;
  background-color: rgb(110, 27, 159);
  box-shadow: 0 0 10px;
  border-radius: 5px;
}

.promotion .piece{
  width: 25%;
  transition: ease-in-out;
}

.promotion .piece:hover{
  width: 25%;
  background-color: rgb(43, 43, 39);
  border-radius: 5px;
  
}