.container {
  margin: auto;
  background-color: #666;
  max-width: 1200px;
  height: 80vh;
  
}

.board {
  /* aspect-ratio: 1; */
  height: 80%;
  aspect-ratio: 1;
  margin: auto;
  max-width: 700px;
  max-height: 700px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  border: 1px solid #666;
}

.player-info{
  margin: auto;
  border: 1px solid black;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #769656;
  cursor: pointer;
  position: relative;
}

.reverse{
  transform: rotate(180deg)
}

.black {
  background-color: #769656;
}

.white {
  background-color: #EEEED2;
}

.black:hover {
  background-color: rgb(222, 240, 85);;
}

.white:hover {
  background-color: rgb(222, 240, 85);
}

.piece {
  width: 75%;
  height: 75%;
}

.cell-target-piece {
  background-color: rgb(222, 240, 85) !important;
}

.possible-moves {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: rgba(12, 41, 12, 0.518) !important;
  border-radius: 50%;
}

.promotion{
  width: 30%;
  position: absolute;
  display: flex;
  background-color: rgb(110, 27, 159);
  box-shadow: 0 0 10px;
  border-radius: 5px;
  opacity: 1;
}

.promotion-background{
  position: absolute;
  width: 800px;
  aspect-ratio: 1;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.promotion .piece{
  width: 25%;
  transition: ease-in-out;
}

.promotion .piece:hover{
  width: 25%;
  background-color: rgb(43, 43, 39);
  border-radius: 5px;
  
}

.win{
  display: block;
  font-size: 12em;
  text-align: center;

}